.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* min-width: 100vh; */
  gap: 2rem;
}

.login::before {
  display: block;
  content: "";
  background: url('../../Assets/login.jpg') no-repeat center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
  margin-top: 20vh;
}

.formsy {
  max-width: 30rem;
  padding: 1rem;
  margin-top: 10vh;
  margin-bottom: 30vh;
}
.formCr {
  max-width: 30rem;
  padding: 1rem;
  margin-bottom: 15vh;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before{
    display: none;
  }
  .forms {
    max-width: 100%;
    margin-top: 3vh;
  }
  .formsy {
    max-width: 100%;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
