/* Reset geral das paginas */
* {
  box-sizing: border-box;

}

body {
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;

}

ul,li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%; /* expande ao tamanho máximo da tela.*/
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
}

/* Fim do reset Geral */

/* Classes Gerais */
.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}